.gemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gemGroup{
    margin: 2%;
    border: 0.5px solid #999;
    padding: 1rem;
    
}

.gemGroup.p{
    font-size: 2vw;
}

.gemName{
    font-size: 3vw;
}

button{
    padding: 1%;
    margin: 1%;
}

.gem{
    width: 20vw;
}

.cardImage{
    max-width: 100%;
}