.gemCard {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: grid;
	background: #f2f2f2;
	transition: all 0.2s ease-in-out;
	width: 300px;
	opacity: 0;
}
.card-active {
	opacity: 1 !important;
}

.card-body {
}
.card {
	grid-row: 1;
	grid-column: 3;
	margin: 1rem;
}

.card-img-top {
	width: 100%;
}

.btn-learnmore {
	padding: 1.5rem;
	background: #72bfd6;
	text-decoration: none;
	color: #f2f2f2;
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: 1.5rem;
}

.card-title {
	margin-bottom: 1rem;
}

.card-text {
	margin-bottom: 1.5rem;
}

.btn-div {
	overflow: visible;
	margin-top: 2rem;
	padding: 2rem;
}
