.gemCard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  background: #f2f2f2;
  transition: all 0.2s ease-in;
  opacity: 0;
  height: 0;
  width: 10vw;
  widows: 300px;
}
.card-active {
  opacity: 1;
  height: 100vh;
  width: 25vw;
  display: block;
}

.card-body {
  height: 0;
}
.card {
  height: 100%;
}

.card-img-top {
  width: 100%;
}

.btn-learnmore {
  padding: 1rem;
  background: #72bfd6;
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 200;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: 1.5rem;
}

.btn-div {
  overflow: visible;
  margin-top: 2rem;
  padding: 2rem;
}
