.gemBanner{
    display: flex;
    justify-content: center;  
    margin-top: 8%;
}

.gemBanner img {
    width: 15%;
    height:15%;
}

.container {
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.storyBox {
    display: flex;
    justify-content: center;   
    background-color: rgb(189, 215, 255);
    border: 1px solid #000000;   
}

.gemStory{ 
    font-size: 3vw;
}

h1 {
    font-size: 5vw;
}