.gemBanner{
    display: flex;
    justify-content: center;  
    margin-top: 5%;

}

.gemBanner img {
    position: relative;
    align-content: center;   

}

.container {
display: flex;
align-content: center;  
margin: 2%;

}

.storyBox {
    /* display: flex; */
    /* height: auto; */
    width: auto;
    padding: 2%;
    justify-content: center;  
    background-color: rgb(189, 215, 255);
    border: 1px solid #000000;
    margin-left: 12em;
    margin-right: 12em;     

}

.gemStory{ 
    font-size: 1.5em;
    align-content: center;  

}
