#MyMapComponent_add_btn {
	background: rgba(34, 34, 34, 1);
	color: rgba(255, 255, 255, 1);
	border: 4px;
	margin: 10px;
	padding: 0px;
	position: absolute;
	cursor: pointer;
	user-select: none;
	border-radius: 2px;
	height: 40px;
	width: 40px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px -1px;
	overflow: hidden;
	bottom: 50%;
	top: 50%;
	right: 0%;
	z-index: 99;
}
.MyMapComponent_switch_btn {
	background: rgba(34, 34, 34, 1);
	color: rgba(255, 255, 255, 1);
	border: 4px;
	margin: 10px;
	padding: 0px;
	position: absolute;
	cursor: pointer;
	user-select: none;
	border-radius: 2px;
	height: 40px;
	width: 40px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px -1px;
	overflow: hidden;
	bottom: 40%;
	top: 60%;
	right: 0%;
	z-index: 99;
}
