.Search{
    display: flex;
    justify-content: center;

}

.Search-container{
    justify-content: center;
    margin: 2%;
    border: 0.5px solid #999;
    padding: 1rem;
    width: 60%;
}

.Search-form{

    width: 60%;
    padding: 0 10%;
    margin: 0 10%;
}

.Search-form-field{
    width: 80%;
    height: 3em;
}

.Search-submit-btn{
    padding:2%;
    background-color: rgb(95, 176, 252);
}