.Search{
    
}

.Search-container{
    margin: auto;
    border: 0.5px solid #999;
    padding: 1rem;
    width: 60%;
}

.Search-form{
    width: 60%;
    padding: 0 10%;
    margin: 0 10%;
}

.Search-form-field{
    width: 80%;
    height: 3em;
}

.Search-submit-btn{
    padding:2%;
    background-color: rgb(95, 176, 252);
}

.Search-results{
    display: flex;
    justify-content: left;
    width: 90%;
    margin: auto;

}

.Search-results-container{
    border: 0.5px solid #999;
    width: 250px;
    margin: 2%;
    padding: 2%

}

.profileLink{
    padding: 5%;
}