.userBanner {
    font-family: 'Fugaz One', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(./gradient.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 25vh;
}
.profileImage {
    height: 20vh;
    border-radius: 150px;
}
.userBanner-display-info {
    color: white;
}